<!DOCTYPE HTML>
<!-- Website Template by freewebsitetemplates.com -->
<html>
<%include file="cabecera.html" />
<body>
	<div class="page">
		<%include file="menu.html" />
		<div id="body">
			<div class="header">
				<img src="static/images/lawyers.jpg" alt="">
				<div class="section">
					<h1>This is just a place holder</h1>
					<p>
						This website template has been designed by <a href="http://www.freewebsitetemplates.com">Free Website Templates</a> for you, for free. You can replace all this text with your own text.
					</p>
				</div>
			</div>
			<div class="body">
				<p>
					You can remove any link to our website from this website template, you're free to use this website template without linking back to us.
				</p>
				<img src="static/images/hammer.png" alt="">
				<p>
					You can remove any link to our website from this website template, you're free to use this website template without linking back to us.
				</p>
			</div>
			<div class="footer">
				<div>
					<div>
						<h2>Practice</h2>
						<ul>
							<li>
								<a href="#">This is just a place holder.</a>
							</li>
							<li>
								<a href="#">This is just a place holder.</a>
							</li>
							<li>
								<a href="#">This is just a place holder.</a>
							</li>
							<li>
								<a href="#">This is just a place holder.</a>
							</li>
						</ul>
						<ul>
							<li>
								<a href="#">This is just a place holder.</a>
							</li>
							<li>
								<a href="#">This is just a place holder.</a>
							</li>
							<li>
								<a href="#">This is just a place holder.</a>
							</li>
							<li>
								<a href="#">This is just a place holder.</a>
							</li>
						</ul>
					</div>
				</div>				
			</div>
		</div>
		<%include file="pie.html" />
	</div>
</body>
</html>
