<!DOCTYPE HTML>
<!-- Website Template by freewebsitetemplates.com -->
<html>
<%include file="cabecera.html" />
<body>
	<div class="page">
		<%include file="menu.html" />
		<div id="body">		
			<div class="footer">
				<div>
					<div align="center">
						<h2>Identificación de usuarios</h2>
						<div>
							<p>
								<form method="POST">
									<div class="ident">
										${varMako[6]}
									</div>
								</form>
								<br><br>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%include file="pie.html" />
	</div>
</body>
</html>
