<!DOCTYPE HTML>
<!-- Website Template by freewebsitetemplates.com -->
<html>
<%include file="cabecera.html" />
<body>
	<div class="page">
		<div id="header">
			<div class="connect">
				<p>
					Para obtener consejo legal: ${varMako[0]} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${varMako[1]}
				</p>
			</div>
			<div>
				<a href="/" class="logo"><img src="static/images/logo.png" alt=""></a>
				<ul>
					<li class="selected">
						<a href="/">Inicio</a>
					</li>
					<li>
						<a href="login">Login</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="body">		
			<div class="footer">
				<div>
					<div align="center">
						<h2>El usuario se ha desconectado</h2>						
					</div>
				</div>
			</div>
		</div>
		<%include file="pie.html" />
	</div>
</body>
</html>
